header, footer{
    background-color: lightgray;
    margin-bottom: 30px;
}
footer {
    margin-top: 20px;
    padding: 20px 0 50px 0;
}
header h1 {
    text-align: center;
    margin: 20px 0;
}
footer p{
    text-align: center;
}